<h1>{{ message }}</h1>
<p>Tên khách hàng: <b>{{ customer.name }}</b></p>
<p>Số điện thoại: <b>{{ customer.phoneNumber }}</b></p>
<p>Tên sân bóng: <b>{{ footballPitchName }}</b></p>
<p>Khung giờ: <b>{{ leasingDurationName }}</b></p>
<p>Ngày thuê: <b>{{ rentalDate }}</b></p>